<div class="contact-wrapper">
    <h2>Get in touch with Us!</h2>
    <ul class="contributors">
        <li>
            <div class="contributor">Alexandra Bolat</div>
            <div class="buttons">
                <a href="https://github.com/bolatalexandra" target="_blank" class="button button-github">
                    <i class="fab fa-github"></i> bolatalexandra
                </a>
                <a href="mailto:alexandra.bolat@s.unibuc.ro?Subject=[SRApp]" target="_top" class="button button-email">
                    <i class="fas fa-envelope"></i> alexandra.bolat@s.unibuc.ro
                </a>
            </div>
        </li>
        <li>
            <div class="contributor">Delia Chirigiu</div>
            <div class="buttons">
                <a href="https://github.com/mesodel" target="_blank" class="button button-github">
                    <i class="fab fa-github"></i> mesodel
                </a>
                <a href="mailto:delia.chirigiu@s.unibuc.ro?Subject=[SRApp]" target="_top" class="button button-email">
                    <i class="fas fa-envelope"></i> delia.chirigiu@s.unibuc.ro
                </a>
            </div>
        </li>
    </ul>
</div>