<div class="description">
    <p>
        We all tried to get on <a href="https://spotify.com" target="_blank">Spotify</a> once! Music is what makes our day better and we always smile. But the music is different for each of us. We all have an opinion and we know how much we like to communicate it. That's how SRApp was born, a platform where each of us can express our opinion about his favorite song. SRApp has a special management so that you can view in a simple and elegant way the songs, artists, albums and playlists you love. What do you think? Do we meet on SRApp?
    </p>
</div>