<div class="container">
    <div class="name">
        <span>SRApp</span> © <%- new Date().getFullYear() %>
    </div>
    <div class="made-with-love">
        Made with <i class="fas fa-heart"></i> for Technology
    </div>
</div>
